/* line 1, /Users/ruthamponsah/Desktop/Big Blue/RPSGame/src/assets/styles/index.sass */
body {
  font-family: sans-serif; }

/* line 4, /Users/ruthamponsah/Desktop/Big Blue/RPSGame/src/assets/styles/index.sass */
.game {
  text-align: center;
  display: block;
  width: 700px;
  height: 500px;
  background-color: #f0f0f0;
  background: url(../images/game-screen.jpg) no-repeat;
  border: 1px solid #000000; }

/* line 13, /Users/ruthamponsah/Desktop/Big Blue/RPSGame/src/assets/styles/index.sass */
ul {
  list-style: none;
  bottom: -30px;
  position: absolute;
  margin-left: 220px; }

/* line 19, /Users/ruthamponsah/Desktop/Big Blue/RPSGame/src/assets/styles/index.sass */
li {
  display: inline-block;
  padding: 0 0 0 10px; }

/* line 23, /Users/ruthamponsah/Desktop/Big Blue/RPSGame/src/assets/styles/index.sass */
a {
  text-decoration: none;
  color: black;
  font-weight: lighter; }

/* line 28, /Users/ruthamponsah/Desktop/Big Blue/RPSGame/src/assets/styles/index.sass */
#countdown {
  height: 60px;
  margin: -70px 0 0 0;
  font-size: 550px;
  color: #f00084;
  opacity: 0.8; }

/* line 35, /Users/ruthamponsah/Desktop/Big Blue/RPSGame/src/assets/styles/index.sass */
#result {
  height: 20px;
  padding: 10px;
  background-color: yellow; }

/* line 40, /Users/ruthamponsah/Desktop/Big Blue/RPSGame/src/assets/styles/index.sass */
#versus {
  width: 100px;
  top: 0px;
  position: absolute;
  margin-left: -52px; }

#rock:hover{
  border: solid 2px turquoise;
  border-radius: 50%;
}  

#paper:hover{
  border: solid 2px turquoise;
  border-radius: 50%;
}  
  
#scissors:hover{
  border: solid 2px turquoise;
  border-radius: 50%;
}  
