doctype html
html

  head

    meta(charset="utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Rock, Paper, Scissors

    meta(name="Emmanuel Amponsah", content="Rock, Paper, Scissors game")

    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

    link(rel="stylesheet", href="assets/styles/main.css", type="text/css")

    link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:600", rel="stylesheet", type="text/css")

  body

    div.game
        
        h1#countdown

        p#result

        //- div
        //-     img(id="versus", src="assets/images/vs.png" no-repeat) 
            
        div
            //- p#playeronechoice You

        div
            //- p#playertwochoice Opponent
    
        ul
            li
                a(href="#")
                    img(id="rock", src="assets/images/rock-btn.png" no-repeat)
                p Rock

            li
                a(href="#") 
                    img(id="paper", src="assets/images/paper-btn.png" no-repeat)
                p Paper

            li        
                a(href="#") 
                    img(id="scissors", src="assets/images/scissors-btn.png" no-repeat)
                p Scissors

    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")

    script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.1.0.js")

    script(type="text/javascript", src="assets/scripts/main.js")    



