body {
  font-family: sans-serif;
}

.box{
  background-color: #113F8C;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.game{
	display: block;
	border: 1px solid gray;
	width: 100%;
	min-height: 100px;
}