body 
  font-family: sans-serif

.game 
	text-align: center
	display: block
	width: 700px
	height: 500px
	background-color: #f0f0f0
	background: url(../images/game-screen.jpg)
	border: 1px solid gray

ul
	list-style: none
	bottom: -38px
	position: absolute
	margin-left: 220px

li 
	display: inline-block
	padding: 0 0 0 10px

a
	text-decoration: none
	color: black
	font-weight: lighter

#countdown
	height: 60px 
	margin: -70px 0 0 0
	font-size: 550px
	color: #f00084
	opacity: 0.8

#result
	height: 20px 
	padding: 10px
	background-color: rgb(247, 222, 243)
	bottom: 70px
	position: absolute
	font-size: 20px
	text-transform: uppercase

#versus
	width: 100px
	top: 0px
	position: absolute
	margin-left: -52px	
